{% for menu, content in childsBreadcrumb() %}
        <h6 class="muted">{{ menu }}</h6>
        <ul class="nav nav-pills nav-stacked">
        {% for route, data in content %}
            {% if data.hidden is not defined or data.hidden != true %}
            <li {% if data.active %}class="active"{% endif %}><a href="{{ path(route) }}"><i class="icon-large icon-caret-right"></i> {{ data.label }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
{% endfor %}
