<div class="blue navbar navbar-static nomargin">
	<div class="navbar-inner">
		<div class="container" style="width: auto;">
			<ul class="nav pull-left">
				<li><a href="#"><i class="icon-xlarge icon-globe"></i></a></li>
				<li class="divider-vertical"></li>
				<li>{% include 'BF13BusinessApplicationBundle:Bootstrap/_partial:top-bar.search.html.twig' %}</li>
			</ul>
		</div>
	</div>
</div>